* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
}
body{
  font-family: "Manrope", sans-serif;
  height: 100vh;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--LightGrayishBlue);
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
.wrapper{
    width: 750px;
    height: 300px;
    display: flex;
    background-color:#fff;
    border-radius: 10px;
}
.wrapper img{
    height: 100%;
    width: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.wrapper p{
    font-size: 0.8rem;
    padding: 2rem;
    color: var(--GrayishBlue)
}
.wrapper p strong{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--VeryDarkGrayishBlue)
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile img{
    height: 50px;
    width: auto;
    border-radius: 50%;
}
.author{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.author h3{
    font-size: 0.8rem;
    color: var(--VeryDarkGrayishBlue)
}
.author h4{
    font-size: 0.7rem;
    color: var(--GrayishBlue)
}
.share{
    border-radius: 50%;
    padding: 0.3rem;
    margin-left: 5.8rem;
    background-color: var(--LightGrayishBlue);
}
.share:hover{
    background-color: lightblue;
}
.share img{
    width: 30px;
    height: auto;
}
.info{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding-left: 35px;
}
.hidden-box{
    width: 220px;
    height: 50px;
    background-color: hsl(217,19%,35%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: 215px;
    bottom: 70px;
}
.hidden-box:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: hsl(217,19%,35%) transparent transparent transparent;
    content: "";
    position: absolute;
    right: 100px;
    top:50px;
}
.hidden-box img{
    height: 20px;
    width: auto;
    margin-left: 20px;
}
.hidden-box span {
    font-size: 17px;
    font-weight: 500;
}
.hidden{
    display: none;
    transition: background-color 0.5 ease;
}


@media (max-width: 600px){
  .wrapper{
      height: auto;
      width: 400px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .wrapper .pic{
      width: 100%;
      height: auto;
      border-bottom-left-radius: 0;
      border-top-right-radius: 10px;
  }
  .profile{
      margin-bottom: 25px;
  }
  .share{
      margin-left: 8rem;
  }
  .hidden-box{
      width: 400px;
      height: 80px;
      background-color: hsl(217, 19%, 35%);
      border-radius: 0 0 10px 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #fff;
      position: absolute;
      left: 0;
      bottom: 0px;
      padding-left: 30px;
  }
  .hidden{
    display: none;
}
  .hidden-box:before{
      display: none;
  }
}
